<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0/">
	<title>Celebration</title>
	<link rel="stylesheet" href="static/christmas.css">
</head>
<body>
  <div class="nar">
    <div class="logo">
      <img class="log-img" src="/static/jmax.png">
    </div>
    <div class="welcome">
      <marquee direction="right" class="marquee" >
        <h1> HI SEE WHAT A FRIEND HAS FOR YOU<span class="span1" style="color:green; margin-left:50px;">YOU CAN MAKE FOR ANOTHER ALSO</span></h1>
      </marquee>
    </div>
</div>
  <div class="overall">
    <div class="box1" style="">
	    <div class="first-word">  
        <h2 style="color:#a72c2c;">Hello,<span style="color:#0b7524;">Dear</span><br><br>JMAX <span style="color:#0b7524;">has a gift for you</span>
        <br><span>Tap the box below to <b> UNVIEL</span></h2>
      </div>
      <div class="gift-box">
        <img id="box" src="/static/bg2.jpg">
        <a href="{{ url_for('main')}}"class="btn1">TAP ME</a>
      </div>
    </div> 
    
   
    
 <center><p style="color:green; margin-left:50px; font-size:30px;">COURTSEY : <span style="color:#a72c2c;">A LOVED ONE </span></p></center>
 
</body>
</html>          
           
